<div class="container user-wrapper">
  <p><h3>ユーザー登録</h3></p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <div class="field">
        <p><%= f.label "ユーザーネーム(20文字まで)".to_sym %></p>
        <p><%= f.text_field :user_name %></p>
      </div>

    <div class="field">
      <p><%= f.label :メールアドレス %></p>
      <p><%= f.email_field :email, autofocus: true %></p>
    </div>

    <div class="field">
      <p><%= f.label "プロフィール(30文字まで)".to_sym %></p>
      <p><%= f.text_field :introduction %></p>
    </div>

    <div class="field">
      <p><%= f.label :プロフ画像 %></p>
      <p><%= f.file_field :image %></p>
      <p><%= f.check_box :remove_avatar %> 画像を削除する</p>
      <%= f.hidden_field :avatar_cache %>
    </div>

    <div class="field">
      <p><%= f.label "パスワード(8文字以上)".to_sym %></p>
      <% if @minimum_password_length %>
      <% end %>
      <p><%= f.password_field :password, autocomplete: "off" %></p>
    </div>

    <div class="field">
      <p><%= f.label :パスワード確認 %></p>
      <p><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
    </div>

    <div class="actions">
      <p><%= f.submit "Sign up",:class => "style2" %></p>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
