<% if @topic.errors.any? %>
  <ul>
    <% @topic.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="box container 75%">
  <%= form_for [@topic] do |f| %>
    <div class="row 50%">
      <div class="6u 12u(mobile)">
        <%= f.label :タイトル,:class => "topic-form-label"%>
        <%= f.text_field :title ,:placeholder => "タイトル（３０文字）"%>
      </div>
      <div class="6u 12u(mobile)">
        <%= f.label :作品名,:class => "topic-form-label"%>
        <%= f.text_field :book_title ,:placeholder => "作品名"%>
      </div>
      <div class="6u 12u(mobile)">
        <%= f.label :主な著者,:class => "topic-form-label"%>
        <%= f.text_field :main_author ,:placeholder => "主な著者"%>
      </div>
    </div>
    <div class="row 50%">
      <div class="12u">
        <%= f.label :投稿したい内容,:class => "topic-form-label"%>
        <%= f.text_area :detail ,:placeholder => "投稿したい内容" %>
      </div>
        <%= f.hidden_field :user_id , value: current_user.id %>
    </div>
    <div class="row">
      <div class="12u">
        <ul class="actions">
          <li>
          <%= f.submit %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

</div>
  </div>
  </section>
