<div class=" topics-wrapper">
  <% @topics.each do |topic| %>
    <div class="topic-block">
      <%= link_to topic_path(topic.id),class: 'topic-card-link' do %>
        <div class="topic-user">
          <%= image_tag(topic.user.image.url(:thumbnail),:class => "topic-user-image") %>
          <p class="topic-user-name block_to_inline">
          <%= topic.user.user_name %>
          </p>
        </div>
        <p class="topic-title"><%= topic.title %></p>
        <p class="topic-book-detail"><%= topic.book_title %>(<%= topic.main_author %>)</p>
        <div class="topic-detail-wrapper">
          <p class="topic-detail"><%= truncate(topic.detail,:length => 59)  %></p>
        </div>
        <div class="add-info-wrapper">
          <% @count = topic.comments.count %>
          <p class="add-info">投稿日時：<%= topic.created_at.year %>/<%= topic.created_at.month %>/<%= topic.created_at.day %>  コメント数：<%= @count %></p>
        </div>
      <% end %>
    </div>
    <hr class="topic-hr">
  <% end %>
</div>
