<%= link_to "トピックを投稿する", new_topic_path %>
<% @topics.each do |topic| %>
  <p> <%= topic.user.last_name %><%= topic.user.first_name %></p>

  <p><%= link_to topic.title, topic_path(topic.id) %></p>

  <p>作品名：<%= topic.book_title %>/著者：<%= topic.main_author %></p>
<% end %>
