<p><%= current_user.last_name %><%= current_user.first_name %> </p>

  <% @count = @topics.count %>
<p><%= @count %>投稿</p>

<% @topics.each do |topic,count| %>
  <p><%= topic.title %></p>
  <p><%= topic.detail %></p>
<% end %>
