<html>

  <head>
    <title>Book Talk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="header">
    <div class="header-wrapper">
      <!-- Logo -->
      <%= link_to topics_path, class: 'logo-link' do %>
        <h1 id="logo" class="block_to_inline logo">Book Talk</h1>
      <% end %>
      <!-- Nav -->
      <nav id="nav">
      <ul>
        <li><%= link_to "ホーム", topics_path %></li>
        <li><%= link_to "投稿", new_topic_path%></li>
        <% if user_signed_in? %>
          <li><%= link_to "マイページ",mypage_home_path %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
      </nav>
    </div>
    </header>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer id="footer">
    <!-- Icons -->
    <ul class="actions">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

    </ul>
      <!-- Menu -->
      <ul class="menu">
        <li>copyright &copy; ChocolateCrunch</li>
      </ul>

      </footer>

    </body>
    <p class="navbar-text pull-right">
  </html>
